 /*Reset CSS*/
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
 }

 :root {
     --pink: #F26A6D;
     --beige: #F5F3C4;
     --gray: #908F8F;
 }

 body {

     font-size: 100%;
     background: linear-gradient(to right bottom, #F5F3C4 16.62%, #F26A6D 85.61%);
     background-repeat: no-repeat;

     .header-content {
         background-color: var(--pink);
         /*border-bottom: 2px solid black;*/
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         padding: 20px 40px;
         box-shadow: 0 0.1rem 0.5rem #525252;
         width: 100%;
         transition: all 0.5s;
     }

     .header-content .logo-wit {
         height: 150px;
         width: 200px;
         object-fit: contain;
         margin-top: -20px;
         margin-bottom: -42px;
     }

     .header-content ul {
         display: flex;
         align-items: center;
         gap: 5rem;
     }

     .header-content ul li a {
         color: var(--dark);
         font-size: 18px;
         font-weight: 500;
         transition: all 0.5s;
         font-family: 'Poppins', sans-serif;
         font-weight: 600;
     }

     .header-content ul li a:hover {
         color: var(--pink);
         font-weight: bold;
         text-shadow: black 2px 3px 2px;
     }

     .header-content i {
         cursor: pointer;
         font-size: 1.7rem;
     }

     .menu {
         cursor: pointer;
         display: none;
     }

     .menu .bar {
         display: block;
         width: 28px;
         height: 3px;
         border-radius: 3px;
         background: black;
         margin: 5px auto;
         transition: all 0.3s;
     }

     .menu .bar:nth-child(1),
     .menu .bar:nth-child(3) {
         background: var(--pink);
     }


     /* ***************** MAIN ********** */

     /*.content {
     margin-bottom: 48px;
     height: 70vh;
 }*/

     .main-content {
         width: 100%;
         height: 100vh;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         padding: 0px 10%;
         /*margin-top: 60px;
     margin-bottom: 110px;*/
     }

     .main-content-img {
         /*height: 500px;
     width: auto;
     object-fit: contain;*/
         width: 50%;
     }

     .main-content-text {
         display: flex;
         flex-direction: column;
         gap: 32px
     }

     .main-content-text-title-logo {
         height: 80px;
         width: 56px;
         object-fit: contain;
     }

     .main-content-text-title {
         font-family: 'Orbitron', sans-serif;
         font-weight: 400;
         font-size: 65px;
     }

     .main-content-text-subtitle {
         font-family: 'Share Tech Mono', monospace;
         font-weight: 400;
         font-size: 28px;

     }




     /* ***************** FOOTER ********** */
     .footer-content {
         background-color: var(--pink);
         border-top: 2.5px solid black;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding: 20px 100px 20px 100px;
         align-items: center;
     }

     .footer-content-text {
         font-family: 'Poppins', sans-serif;
     }



     /*-----------------------@media-------------------*/
     @media (max-width:785px) {
         .header-content {
             padding: 18px 20px;
         }

         .menu {
             display: block;
         }

         .nav-menu {
             position: fixed;
             right: -100%;
             top: 70px;
             width: 100%;
             height: 100%;
             flex-direction: column;
             background: var(--white);
             gap: -10px;
             transition: 0.3s;
         }

         .nav-menu.ativo {
             right: 0;
         }

         .nav-item {
             margin: 16px 0;
         }

         .main-content {
             padding: 100px 2%;
             flex-direction: column;
             text-align: center;
             overflow: hidden;
             gap: 5rem;
         }

         .main-content-img {
             width: 100%;
         }

         .main-content-text {
             font-size: 2.5rem;
             line-height: 3rem;
         }

         .main-content-text-title-logo {}

         .main-content-text-subtitle {
             font-size: 15px;
         }

         .footer-content {
             display: block;
         }
     }